In [1]:
%cd ..
from src.algos import *
import os
import pandas as pd

e:\coding\essa-tsp-metaheuristics

In [2]:
distances = pd.read_excel(os.path.join("data", "Data_PFSP_50_20.xlsx"))
distances.head()

,Zadanie,M1,M2,M3,M4,M5,M6,M7,M8,M9,...,M11,M12,M13,M14,M15,M16,M17,M18,M19,M20
0,1,66,55,65,57,58,38,5,26,66,...,39,42,40,7,50,27,64,20,79,28
1,2,46,63,35,72,66,23,13,40,41,...,12,79,62,34,4,60,44,65,18,91
2,3,25,71,49,48,5,13,36,84,74,...,45,25,8,69,20,79,58,50,99,32
3,4,30,21,2,6,69,1,54,84,62,...,34,18,13,18,19,50,7,76,75,56
4,5,17,74,95,10,38,10,76,74,70,...,11,75,87,98,58,15,69,75,47,70

In [3]:
nn = PFSP_NearestNeighbor()
nn._solve(distances, start_order=2)

distance: 4960
algorithm: PFSP_NearestNeighbor

solving time: 1.812 s
path: [2, 35, 13, 20, 48, 22, 23, 12, 6, 30, 25, 43, 37, 0, 9, 38, 33, 46, 5, 27, 39, 49, 17, 8, 16, 32, 40, 26, 11, 24, 44, 18, 41, 1, 34, 14, 3, 4, 19, 15, 45, 29, 10, 36, 7, 42, 21, 31, 47, 28]

In [ ]:
# results = [nn._solve(distances, start_order=i) for i in range(50)] 
# min(results, key=lambda x: x.distance)