In [1]:
%cd ..
from src.algos import *
import os
import pandas as pd
from src.utils import load_data

c:\Users\wojte\Desktop\essa-tsp-metaheuristics

In [2]:
NUM_STARTS = 5

In [3]:
hill_climbing_params = {
    "neigh_type": ["swap", "inversion", "insertion"],
    "n_iter": [10, 25, 50, 100, 200, 400],
}

tabu_search_params = {
    "neigh_type": ["swap", "inversion", "insertion"],
    "n_iter": [10, 25, 50, 100, 200, 400],
    "tabu_size": [5, 10, 20, 40, 80, 160],
}

simulated_annealing_params = {
    "neigh_type": ["swap", "inversion", "insertion"],
    "n_iter": [10, 250, 500, 1000, 2500, 5000],
    "temp": [1, 5, 10, 100, 1000, 5000],
    "alpha": [0.1, 0.5, 0.8, 0.99, 0.995, 0.999],
}

genetic_algorithm_params = {
    "n_iter": [10, 25, 50, 100, 200, 400],
    "pop_size": [50, 100, 200, 350, 500, 1000],
    "selection_method": ["tournament", "truncation", "roulette"],
    "crossover_method": ["pmx", "ox"],
    "mating_pool_size": [.05, .1, .2, .3, .4, .5],
    "elite_size": [.05, .1, .2, .3, .4, .5],
    "mutation_rate": [.01, .05, .1, .2, .3, .4],
    "mutation_type": ["swap", "inversion", "insertion"],
}

In [4]:
distances = load_data(os.path.join("data", "Data_PFSP_50_20.xlsx"))
distances.head()

,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12,M13,M14,M15,M16,M17,M18,M19,M20
Zadanie,,,,,,,,,,,,,,,,,,,,
1,66,55,65,57,58,38,5,26,66,93,39,42,40,7,50,27,64,20,79,28
2,46,63,35,72,66,23,13,40,41,95,12,79,62,34,4,60,44,65,18,91
3,25,71,49,48,5,13,36,84,74,48,45,25,8,69,20,79,58,50,99,32
4,30,21,2,6,69,1,54,84,62,71,34,18,13,18,19,50,7,76,75,56
5,17,74,95,10,38,10,76,74,70,30,11,75,87,98,58,15,69,75,47,70

In [5]:
grid_search = TSPGridSearch()

grid_search.solve(
    algorithm=HillClimbing,
    params=hill_climbing_params,
    distances=distances,
    n_starts=NUM_STARTS,
    verbose=True,
    n_jobs=-1,
)

number of algorithms in grid search: 18

params: {'n_iter': 10, 'neigh_type': 'swap'}
HILL CLIMBER
Neighbourhood type: None
n_iter: 10

In [8]:
neh = NEH()
neh_results = neh.solve(distances)
neh_results

distance: 3866
algorithm: NEH

solving time: 1.759 s
path: [24, 27, 16, 8, 45, 28, 21, 22, 5, 46, 39, 1, 12, 18, 23, 3, 25, 31, 2, 30, 49, 15, 11, 32, 41, 38, 47, 43, 37, 48, 17, 4, 6, 36, 33, 35, 19, 14, 26, 34, 20, 9, 29, 42, 10, 40, 7, 50, 44, 13]

In [ ]:
grid_search.solve(
    algorithm=TabuSearch,
    params=tabu_search_params,
    distances=distances,
    n_starts=NUM_STARTS,
    verbose=True,
    n_jobs=-1,
)

In [ ]:
grid_search.solve(
    algorithm=SimulatedAnnealing,
    params=simulated_annealing_params,
    distances=distances,
    n_starts=NUM_STARTS,
    verbose=True,
    n_jobs=-1,
)

In [10]:
nn = PFSP_NearestNeighbor()
nn._solve(distances, start_order=2)

distance: 4960
algorithm: PFSP_NearestNeighbor

solving time: 1.466 s
path: [2, 35, 13, 20, 48, 22, 23, 12, 6, 30, 25, 43, 37, 0, 9, 38, 33, 46, 5, 27, 39, 49, 17, 8, 16, 32, 40, 26, 11, 24, 44, 18, 41, 1, 34, 14, 3, 4, 19, 15, 45, 29, 10, 36, 7, 42, 21, 31, 47, 28]

In [ ]:
grid_search.solve(
    algorithm=GeneticAlgorithm,
    params=genetic_algorithm_params,
    distances=distances,
    n_starts=NUM_STARTS,
    verbose=True,
    n_jobs=-1,
)